USE [master]
GO
/****** Object:  Database [Parcial1db]    Script Date: 05/10/2016 09:05:51 p.m. ******/
CREATE DATABASE [Parcial1db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parcial1db', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Parcial1db.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Parcial1db_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Parcial1db_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parcial1db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parcial1db]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 05/10/2016 09:05:51 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materiales](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Material] [varchar](30) NULL,
	[Cantidad] [int] NULL,
	[RazonId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Razones]    Script Date: 05/10/2016 09:05:51 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Razones](
	[RazonId] [int] IDENTITY(1,1) NOT NULL,
	[Razon] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RazonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
